## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
a=3
print(a)

3

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
type(a)

int

4) Crear una variable que contenga tu nombre

In [4]:
name='Lucas'

5) Crear una variable que contenga un número complejo

In [5]:
b= 3+5j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [6]:
type(b)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [14]:
import math
pi=math.pi
print("%.4f" % pi) #%.4f redondea a 4 decimales

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [15]:
c= 'True'
d= True
print(type(c))
print(type(d))
#c y d no son lo mismo, c al tener comillas es un string, mientras que d es un dato booleano

<class 'str'>
<class 'bool'>

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [16]:
print(type(c))
print(type(d))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [17]:
e=4+2.5

11) Realizar una operación de suma de números complejos

In [21]:
f = complex(2,1) #esta es otra forma de asignar a una variable un numero complejo, distinta a la realizada en el punto 5
print(b+f)

(5+6j)

12) Realizar una operación de suma de un número real y otro complejo

In [22]:
4+f

(6+1j)

13) Realizar una operación de multiplicación

In [23]:
4*f

(8+4j)

14) Mostrar el resultado de elevar 2 a la octava potencia

In [25]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [26]:
cociente= 27/4
print(cociente)

6.75

16) De la división anterior solamente mostrar la parte entera

In [27]:
cociente = 27//4
print(cociente)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [28]:
cociente = 27%4
print(cociente)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [29]:
4*6+3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [30]:
'Ejercicio '+'19'

'Ejercicio 19'

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [31]:
"2" == 2
#No son iguales, ya que uno es un string y el otro un entero

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [32]:
int("2") == 2

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [34]:
a= float('3,8')
#arroja error ya que para separar la parte entera de la decimal se usa punto y no coma. La sentencia correcta seria a= float('3.8')

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [35]:
a=3
a-=1
print(a)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [36]:
1<<2
#Da ese resultado porque la operacion desplaza el numero binario 1 (1) dos lugares a laderecha y rellena los espacios vacios con 0 (100), dando como resultado 4 en numeros binarios.
#El binario es un sistema de numeracion que solo utiliza dos digitos, 0 y 1.

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [37]:
2+'2'
#no esta permitido porque son dos operandos de distinto tipo.
#si fueran del mismo tipo habria dos resultados posibles: 22 si ambos fueran del tipo string ('2'), y 4 si ambos fueran del tipo entero (2).

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [40]:
2!='2' #Operacion valida
str(2)+'2' #Operacion valida
2+int('2') #Operacion valida

4